body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: darkblue;
}

p {
    font-size: 16px;
    color: gray;

}
a {
    color: blue;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}
ul{
    list-style: square;
}

/* estilos adicionales */

section{
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 10px;

}
h2{
    color: darkgreen;
}

.sobre-mi{
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid#ddd;
}
.sobre-mi h2{
    color: darkgreen;
}
.mis-proyectos{
    background-color: #eef;
    padding: 10px;
    border: 1px solid #ccd;
}
.mis-proyectos{
    color: darkblue;
}
.contacto{
    background-color: #fffbe6;
    padding: 10px;
    border: 1px solid #ffeb99;
}
.contacto h2{
    color: darkblue;
}