body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: darkblue;
}

p {
    font-size: 16px;
    color: gray;

}
a {
    color: blue;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}
ul{
    list-style: square;
}

/* estilos adicionales */

section{
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 10px;

}
h2{
    color: darkgreen;
}


.sobre-mi{
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid#ddd;
}
.sobre-mi h2{
    color: darkgreen;
}
.sobre-mi img{
    max-width: 100%;
    height: auto;
}


.mis-proyectos{
    background-color: #eef;
    padding: 10px;
    border: 1px solid #ccd;
}
.mis-proyectos{
    color: darkblue;
}


.contacto{
    background-color: #fffbe6;
    padding: 10px;
    border: 1px solid #ffeb99;
}
.contacto h2{
    color: darkblue;
}

.contacto form{
    margin-top: 10px;
}

.contacto label{
    display: block;
    margin-top: 5px;

}
.contacto input,
.contacto textarea{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;

}
.contacto input[type="submit"]{
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;

}
.contacto input[type="submit"]:hover{
    background-color: red;
}